* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.page-wrapper {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

#app {
  min-height: calc(100vh - 100px);
  width: 100%;
  // background-color: orange;
  // border: 2px solid #011936 ;
}

.hero {
  height: 300px;
  // background-color: #9E0059;
  // border: 2px solid #357266;
  background-image: url(../images/R.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

